
.serviceTypeHeader{
  margin: 0 0 22px 0;
  text-align: center;

  font-size: 30px;
  font-weight: 600;
  color: #00B0D5;
}

.serviceTypeHeaderWhite{
  color: #FEFEFB;
}
  
.serviceTypeHeader span{
  font-style: italic;
  font-size: 30px;
  font-weight: 700;
}

.planeIcon{
  rotate: 90deg;
}

.iconLabelText{
  margin-top: 5px;

  font-size: 18px;
  color: #00B0D5;
}

.iconLabelText span{
  font-weight: 600;
}

.mapImage{
  width: 100%;
  height: unset;
}

.myCarousel{
  height: fit-content;
}

.myCarousel > div{
  padding-top: 22px;
}

.carousel_indicators{
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.carousel_indicators > div:first-child{
  width: 10vh;
}

.circle{
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: solid;
  border-color: #00B0D5;
  background: #FEFEFB;
  transition: background-color 1s ease;
  transition: border-color 1s ease;
}

.circle:hover{
  cursor: pointer;
}

.active{
  background: #00B0D5;
}

.serviceWithBackgroundImage{
  display: grid;
  height: 500px;
  color: #FEFEFB;
}

.serviceWithBackgroundImage p{
  font-size: 30px;
  /* font-weight: 700; */
}

.serviceWithBackgroundImage span{
  font-style: italic;
  font-size: 27px;
  font-weight: 700;
}

@media (max-width: 575px) {
  .serviceWithBackgroundImage h1{
    font-size: 1.5rem;
  }

  .serviceWithBackgroundImage p{
    font-size: 20px;
  }

  .serviceWithBackgroundImage span{
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
  }
}


.imageFilter{
  filter: blur(0.2rem) brightness(0.3);
  transform: scale(1.1); 

  z-index: -1;
}